/*general*/
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
  font-family: "Kdam Thmor Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0C120C;
}

a {
  text-decoration: none;
}

/*layout*/
header {
  margin-bottom: 10;
}
header nav .toggle-menu {
  position: absolute;
  display: none;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 50px;
}
header nav .logo-movil {
  display: none;
}
header nav .menu {
  position: relative;
  width: 100%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0C120C;
  z-index: 100;
  font-size: 1vw;
  box-shadow: 2px 4px 2px 0.5px #ECFF5C;
}
header nav .menu a {
  color: #FBFFFE;
}
header nav .menu a:hover {
  text-decoration: underline #ECFF5C;
  transition: 0.5s;
  transform: scale(1.2);
}
header nav .menu li {
  padding: 1em;
}
header nav .menu .logo {
  width: 5vw;
  border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #FBFFFE;
}

/*sobre mi*/
main {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 75;
}
main .card {
  position: relative;
  background-color: #0C120C;
  padding: 10;
  width: 500;
  height: 550;
  border: 10px solid #ECFF5C;
  /* for all social containers*/
  /* instagram*/
  /* twitter*/
  /* linkdin*/
  /* Whatsapp*/
}
main .card .img-card {
  width: auto;
  height: auto;
  border-radius: 0.5rem;
}
main .card .info-sm {
  width: fit-content;
  height: fit-content;
  background-color: #FBFFFE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  margin-top: 10;
  border-radius: 0.5rem;
}
main .card .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: s;
}
main .card .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
main .card .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
main .card .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
main .card .containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}
main .card .socialContainer:active {
  transition-duration: 0.3s;
}
main .card .socialSvg {
  width: 17px;
}
main .card .socialSvg path {
  fill: rgb(255, 255, 255);
}
main .card .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*sobre mi*/
/*responsive*/
@media screen and (max-width: 768px) {
  body header nav .toggle-menu {
    position: fixed;
    display: flex;
    height: 35;
    z-index: 1000;
    filter: invert(0.5);
  }
  body header nav .logo-movil {
    display: block;
    position: absolute;
    margin: 20;
    width: 100;
    border-radius: 100%;
    border: 2px solid #FBFFFE;
  }
  body header nav .menu {
    position: fixed;
    top: 0;
    flex-direction: column;
    transition: transform 0.3s;
    transform: translateX(500%);
    font-size: 4vw;
  }
  body header nav .menu .logo {
    width: 30vw;
    display: none;
  }
  body header nav .menu--show {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
