@media screen and (max-width: 768px){
    body{
        header{
            nav{
                .toggle-menu{
                    position: fixed;
                    display: flex;
                    height: 35;
                    z-index: 1000;
                    filter: invert(0.5);
                }
                .logo-movil{
                    display: block;
                    position: absolute;
                    margin: 20;
                    width: 100;
                    border-radius: 100%;
                    border: 2px solid $color-terciario;
                }
                .menu{
                    position: fixed;
                    top: 0;
                    flex-direction: column;
                    transition: transform 0.3s;
                    transform: translateX(500%);
                    font-size: $size-titulo-movil;
                    .logo{
                        width: 30vw;
                        display: none;
                    }
                }

                .menu--show{
                    transform: translateX(0);
                }
            }
        }
    }
}